@model EducationPortal.WebMVC.Models.CourseCreateViewModel

@{
    ViewData["Title"] = "Add Course";
    ViewData["Action"] = "Create";
    ViewData["SubmitButtonText"] = "Add Course";
}

<h2 class="mb-4">Add New Course</h2>

@await Html.PartialAsync("_CourseForm", Model)